body{
width: 300px;
height: 200px;
border: 3px solid;
border-radius: 10px 10px 10px ;
font-size: 20px;
}
h1{
text-align: center;
text-shadow: 2px 3px 4px ;

}
.box1{
width: 300px;
height: 200px;
color: blue;
background-color: crimson;
position: relative;
transform-style: preserve-3d;
rotate: 150deg;

}
h3{
width: 200px;
height: 100px;
color: darkblue;
}
button{
width: 100px;
height: 50px;
background-color: darkgoldenrod;
margin: 7%;
padding: 6%;
}
.pushable {
              position: relative;
              background: transparent;
              border: none;
              padding: 0;
              cursor: pointer;
            }
            .shadow {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-radius: 12px;
              background: hsl(0deg 0% 0% / 0.25);
              transform: translateY(2px);
            }
            .edge {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-radius: 12px;
              background: hsl(340deg 100% 32%);
            }
            .front {
              display: block;
              position: relative;
              padding: 12px 42px;
              border-radius: 12px;
              font-size: 1.25rem;
              color: white;
              background: hsl(345deg 100% 47%);
              transform: translateY(-4px);
            }
            
            .pushable:hover .front {
              transform: translateY(-6px);
            }
            .pushable:hover .shadow {
              transform: translateY(4px);
            }
            .pushable:active .front {
              transform: translateY(-2px);
            }
            .pushable:active .shadow {
              transform: translateY(1px);
            }
            
            .pushable:focus:not(:focus-visible) {
              outline: none;
            }
            p{
            text-align: center;
            text-shadow: 2px 3px 4px ;
            align-items: center;
            
            }