body{
width: 300px;
height: 200px;
border: 3px solid;
border-radius: 10px 10px 10px ;
}
h1{
text-align: center;
text-shadow: 2px 3px 4px ;

}
.box1{
width: 300px;
height: 200px;
color: blue;
background-color: crimson;

}